<p id="notice"><%= notice %></p>
<%= render 'shared/cart' %>
<table>
  <thead>
    <tr>
      <th style="text-align:center;">Picture</th>
      <th style="text-align:center;">Title</th>
      <th style="text-align:center;">Description</th>
      <th style="text-align:center;">User</th>
      <th style="text-align:center;">Sold</th>
      <th style="text-align:center;">Price</th>
      <th style="text-align:center;">Category</th>
      <th style="text-align:center;">Sort</th>
    </tr>
  </thead>
  <tbody>
    <% @products_per_page.each do |product| %>
      <tr>
        <td style="text-align:center;"><%= link_to image_tag(product.picture, height: "150"), product %>
        <br>
        <%= link_to 'Add to cart', "#" %></td>
        <td style="text-align:center;"><%= link_to product.title, product %></td>
        <td style="text-align:center;"><%= product.description %></td>
        <td style="text-align:center;"><%= product.user.username %></td>
        <% if product.sold == false %>
          <td style="text-align:center;">Not yet</td>
        <% else %>
          <td style="text-align:center;">Sold</td>
        <% end %>
        <td style="text-align:center;"><%= product.price %></td>
        <td style="text-align:center;"><%= product.category.category %></td>
        <td style="text-align:center;"><%= product.sort.sort %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @page > 0 %>
<%= link_to "Previous Page", products_path(page: @page - 1) %>
<% end %>
<% if @page < @products.length / 5  %>
<%= link_to "Next Page", products_path(page: @page + 1) %>
<% end %>

